<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414803858017-oqp47i8udvdrqu4hmtlabif463r9raqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414803858017-oqp47i8udvdrqu4hmtlabif463r9raqo</string>
	<key>API_KEY</key>
	<string>AIzaSyD7nTAZ6JM28yocmlW27axMHARX2jlwMQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>414803858017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-6b557</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-6b557.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414803858017:ios:eba6dae8b002e446601020</string>
</dict>
</plist>